@model BlogPostsViewModel
@inject Microsoft.Extensions.Options.IOptionsMonitor<SiteSettings> siteSettings
@using SimpleBlogEngine.Extensions
@{
    ViewData["Title"] = Model.Tag.ToUpperInvariant() + " Etiketli Yazılar - Sayfa " + Model.CurrentPageNumber;
    ViewData["Description"] = Model.Tag.ToUpperInvariant() + " Kategorisindeki Yazılar - Sayfa " + Model.CurrentPageNumber;

    ViewBag.DontShowComments = true;
    ViewBag.DontShowAddThis = true;
    ViewBag.PageId = "tag";
}

<h4 class="my-4 h4 text-center pt-50">
    @Model.Tag.ToUpperInvariant() ETİKETLİ YAZILAR
</h4>

<hr />
@{if (Model.PageOfBlogPosts != null && Model.PageOfBlogPosts.Count > 0)
    {
        foreach (var blogPost in Model.PageOfBlogPosts)
        {
            var postURL = "//" + Context.Request.Host + Url.Action("ViewBlogPost", "Blog", new { year = blogPost.CreateDate.Year, Month = blogPost.CreateDate.Month.ToString("00"), Slug = blogPost.Slug });
            var imageURL = "//" + Context.Request.Host + blogPost.Image.Replace("~", string.Empty);
            <div class="row">
                <div class="post mb-30 mt-15 mr-1 ml-1 full-width">
                    <!--Post media-->
                    <!--End post media-->
                    <!--Post details-->
                    <div class="post-details bg-white pb-20">
                        <h4 class="uppercase pt-15 pb-15 bold"><a href="@postURL">@blogPost.Title</a></h4>
                        <!--Post meta-->
                        <div class="post-meta t-center pt-10 pb-10">
                            <ul class="clearfix">
                                <li class="date"> @blogPost.CreateDate.Display</li>
                                <li><i class="icon-user-1"></i><span><a href="#"> @blogPost.Author</a></span></li>
                                <li>
                                    <i class="icon-layout"></i><span>
                                        @{
                                            var categoryCount = blogPost.Categories != null ? blogPost.Categories.Count : 0;
                                            if (categoryCount == 1)
                                            {
                                                var category = blogPost.Categories[0];
                                                <a href="~/category/@category">@category</a>
                                            }
                                            else if (categoryCount > 1)
                                            {
                                                for (int i = 0; i < categoryCount; i++)
                                                {
                                                    var category = blogPost.Categories[i];
                                                    <a href="~/category/@category.MakeURLFriendly()">@category</a>
                                                    if (i < categoryCount - 1)
                                                    {<text>, </text>}
                                            }
                                        }
                                        }
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <!--End post meta-->

                        <p class="pt-15 pb-20">@blogPost.Description</p>

                        <a class="more" href="@postURL">Devamını Oku <span>&rarr;</span> </a>

                    </div>
                    <!--End post details-->

                </div>
            </div>
        }
    }
    else
    {
        <p></p>
    }}

@section Scripts {
}