@{
    @inject Microsoft.Extensions.Options.IOptionsMonitor<BlogPostsSettings> blogPostConfigMonitor
    @inject Microsoft.Extensions.Options.IOptionsMonitor<GoogleAnalyticsSettings> googleAnalyticsSettings
    @inject Microsoft.Extensions.Options.IOptionsMonitor<SiteSettings> siteSettings

    ViewBag.Title = siteSettings.CurrentValue.MetaData.PageTitlePrefix + ViewData["Title"] + siteSettings.CurrentValue.MetaData.PageTitleSuffix;
}<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_hook_headTop")
    @Html.Partial("_googleAnalytics", googleAnalyticsSettings.CurrentValue)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="@siteSettings.CurrentValue.Owner">
    <meta name="description" content="@ViewData["description"]" />
    <title>@ViewBag.Title</title>
    @Html.Partial("_css")
    @Html.Partial("_openGraphMetaTags")
    @RenderSection("Head", required: false)
    @Html.Partial("_hook_headBottom")
</head>
<body class="page-@ViewBag.PageId">
    @Html.Partial("_navBar")
    <div class="container pl-4 pr-0">
        <div class="row">
            <div class="col-sm-12 col-lg-8 col-xl-9 main-body pl-0 pr-20">
                @Html.Partial("_hook_bodyTop")
                @RenderBody()
                @Html.Partial("_hook_bodyBottom")
            </div>
            <div class="col-xs-12 col-lg-4 col-xl-3 sidebar bg-grey pl-0 pr-0">
                <div class="hidden-md-down sidebar-spacer"></div>
                <div class="block-sidebar bg-grey clearfix">
                    @Html.Partial("_hook_sideBarTop")
                    @Html.Partial("_searchBar")
                    @Html.Partial("_recentPosts", blogPostConfigMonitor.CurrentValue)
                    @Html.Partial("_allCategoriesList", blogPostConfigMonitor.CurrentValue.Meta.Categories)
                    @Html.Partial("_hook_sideBarBottom")
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @Html.Partial("_hook_footerTop")
        @Html.Partial("_footer")
        @Html.Partial("_hook_footerBottom")
    </div>
    @*   </footer>*@

    @Html.Partial("_scriptsMain")
    @Html.Partial("_hook_scriptsCustom")
    @RenderSection("Scripts", required: false)
    @Html.Partial("_syntaxHighlighting")
</body>
</html>
