@inject Microsoft.Extensions.Options.IOptionsMonitor<BlogPostsSettings> blogPostConfigMonitor
@{
    ViewData["Title"] = "Tüm Yazılar";
}

@Html.Partial("_allBlogPostsHeader")

@foreach (var blogPost in blogPostConfigMonitor.CurrentValue.Blogs)
{
    if (blogPost.Published)
    {
        var postURL = "//" + Context.Request.Host + Url.Action("ViewBlogPost", "Blog", new { year = blogPost.CreateDate.Year, Month = blogPost.CreateDate.Month.ToString("00"), Slug = blogPost.Slug });
        <div class="blog-post-list-item">
            <img class="img-circle img-thumbnail" src="@blogPost.Image" />
            <h4><a href="@postURL">@blogPost.Title</a></h4>
            <p style="margin-bottom:0;">@blogPost.Description</p>
            <div><a href="@postURL">Devamını Oku...</a></div>
        </div>
    }
}