@model BlogPost
@using SimpleBlogEngine.Extensions

@inject Microsoft.Extensions.Options.IOptionsMonitor<DisqusSettings> disqusSettings
@inject Microsoft.Extensions.Options.IOptionsMonitor<AddThisSettings> addThisSettings
@{
    ViewData["Title"] = Model.Title;
    var postURL = "//" + Context.Request.Host + Url.Action("ViewBlogPost", "Blog", new { year = Model.CreateDate.Year, Month = Model.CreateDate.Month.ToString("00"), Slug = Model.Slug });
    ViewBag.PageId = "blog-post";
}

<partial name="_hook_blogPostBefore" for="@Model" />

<h2 class="my-4 text-center pt-50 mt-5">
    <a href="@postURL">@Model.Title</a>
</h2>

<div class="blogpost-meta text-center">
    <partial name="_hook_blogPostMetaTop" for="@Model" />
    <span>@Model.CreateDate.Display</span>
    <span> @Model.Author</span>
    @if (disqusSettings.CurrentValue.IsEnabled)
    {
        <span class="separator">/</span>
        <a href="@postURL#disqus_thread">Yorumlar</a>
    }
    <partial name="_hook_blogPostMetaBottom" for="@Model" />

</div>

<hr />

<partial name="_hook_blogPostBeforeBlogContent" for="@Model" />

@if (!string.IsNullOrEmpty(Model.Image))
{
    <center>
        <img class="img-fluid text-center" src="@Model.Image" />
    </center>
}
<div class="blog-post-container">
    @Html.Raw(Model.Content)
</div>

<partial name="_hook_blogPostAfterBlogContent" for="@Model" />

<p class="blogpost-tags">
    @{
        var tagCount = Model.Tags.Count;
        if (tagCount == 1)
        {
            var tag = Model.Tags[0];
            <i class="fa fa-tag" aria-hidden="true"></i>
            <a href="~/tag/@tag">@tag</a>
        }
        else if (tagCount > 1)
        {
            <i class="fa fa-tags" aria-hidden="true"></i>
            for (int i = 0; i < tagCount; i++)
            {
                var tag = Model.Tags[i];
                <a class="no-underline" href="~/tag/@tag.MakeURLFriendly()">@tag</a>if (i < tagCount - 1)
                {<text>, </text>}
        }
    }
    }
</p>

<partial name="_hook_blogPostBeforeShareButtons" for="@Model" />
<partial name="_shareButtons" for="@addThisSettings.CurrentValue" />

@if (ViewBag.DontShowAddThis == null)
{
    <div class="addthis_inline_share_toolbox"></div>
}

<partial name="_hook_blogPostBeforeComments" for="@Model" />

@if (ViewBag.DontShowComments == null)
{ // The blog listing pages show blog posts without comments
    <partial name="/Views/Shared/_comments.cshtml" for="@disqusSettings.CurrentValue" />
}
else if (disqusSettings.CurrentValue.IsEnabled)
{
    <div>
        <a href="@postURL#disqus_thread">Yorumlar</a>
    </div>
}

<partial name="_hook_blogPostAfterComments" for="@Model" />
<partial name="_hook_blogPostAfter" />

@section Scripts {
    <partial name="_comments" for="@disqusSettings.CurrentValue" />
}
