@model BlogPostsViewModel
@inject Microsoft.Extensions.Options.IOptionsMonitor<SiteSettings> siteSettings
@inject Microsoft.Extensions.Options.IOptionsMonitor<DisqusSettings> disqusSettings
@using SimpleBlogEngine.Extensions
@{
    ViewData["Title"] = "Ahmet Selçuk Özyurt - Blog";
    ViewData["Description"] = siteSettings.CurrentValue.Description;
    ViewBag.DontShowComments = true;
    ViewBag.DontShowAddThis = true;
    ViewBag.PageId = "home";
}

<!--Blog section-->
<section id="blog" class="blog pt-50 pb-10 bg-grey">

    <!--Block content-->
    <div class="block-content">
        <!--Container-->
        <div class="container ">
            <!--Row-->
            <div class="block-posts">
                @{if (Model.PageOfBlogPosts != null && Model.PageOfBlogPosts.Count > 0)
                    {
                        foreach (var blogPost in Model.PageOfBlogPosts)
                        {
                            var postURL = "//" + Context.Request.Host + Url.Action("ViewBlogPost", "Blog", new { year = blogPost.CreateDate.Year, Month = blogPost.CreateDate.Month.ToString("00"), Slug = blogPost.Slug });
                            <div class="row">
                                <div class="post mb-30 mt-15 mr-1 ml-1 full-width">
                                    <!--Post media-->
                                    <!--End post media-->
                                    <!--Post details-->
                                    <div class="post-details bg-white pb-20">
                                        <h4 class="uppercase pt-15 pb-15 bold"><a href="@postURL">@blogPost.Title</a></h4>
                                        <!--Post meta-->
                                        <div class="post-media text-center">
                                            <ul>
                                                <li><a href="@postURL"><img class="pl-3 pr-3 full-width blog-list-image" src="@blogPost.Image" alt="" /></a></li>
                                            </ul>
                                        </div>
                                        <div class="post-meta t-center pt-10 pb-10">
                                            <ul class="clearfix">
                                                <li class="date"> @blogPost.CreateDate.Display</li>
                                                <li><i class="icon-user-1"></i><span><a href="#"> @blogPost.Author</a></span></li>
                                                <li>
                                                    <i class="icon-layout"></i><span>
                                                        @{
                                                            var categoryCount = blogPost.Categories != null ? blogPost.Categories.Count : 0;
                                                            if (categoryCount == 1)
                                                            {
                                                                var category = blogPost.Categories[0];
                                                                <a href="~/category/@category">@category</a>
                                                            }
                                                            else if (categoryCount > 1)
                                                            {
                                                                for (int i = 0; i < categoryCount; i++)
                                                                {
                                                                    var category = blogPost.Categories[i];
                                                                    <a href="~/category/@category.MakeURLFriendly()">@category</a>
                                                                    if (i < categoryCount - 1)
                                                                    {<text>, </text>}
                                                            }
                                                        }
                                                        }
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--End post meta-->

                                        <p class="pt-15 pb-20">@blogPost.Description</p>

                                        <a class="more" href="@postURL">Devamını Oku <span>&rarr;</span> </a>

                                    </div>
                                    <!--End post details-->

                                </div>
                            </div>

                        }
                    }
                    else
                    {
                        <p></p>
                    }}
            </div>

            <!--End row-->
        </div>
        <!--End container-->
    </div>
    <!--End block content-->

</section>
<!--End blog section-->

@Html.Partial("_hook_pagingControlBefore")
@Html.Partial("~/Views/Shared/_pagingControl.cshtml", Model)
@Html.Partial("_hook_pagingControlAfter")

@section Scripts {
    @if (disqusSettings.CurrentValue.IsEnabled)
    {
        <script id="dsq-count-scr" src="//@(disqusSettings.CurrentValue.ShortName).disqus.com/count.js" async></script>
    }}
